* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

button {
    background-color: #E2E2E2;
    border-radius: 3px;
    padding: 10px;
}

.active {
    background-color: #8F3985;
}

.invalid {
    color: red;
}

#posted li {
    list-style-type: none;
    background-color: black;
    color: #E2A600;
    font-family: 'Cinzel', serif;
    font-size: 32px;
    padding: 30px;
}

body {
    background-color: #3A3F3A;
    color: #E2A600;
    margin: 0 auto;
    max-width: 960px;
}

.container {
    background-color: #E2E2E2;
    box-shadow: 0px 4px 20px 0px black;
    color: #050505;
    padding: 20px;
}

a {
    color: #FB3640;
    text-decoration: none;
}

a:hover {
    color: #494943;
}

nav li {
    background-color: #E2A600;
    border: 1px solid black;
    border-bottom-color: #4B3F72;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    display: inline-block;
    font-size: 18px;
    list-style-type: none;
    margin: -3px;
    padding: 20px;
}

nav li:hover {
    background-color: #8F3985;
    cursor: pointer;
}

.feature {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.feature p {
    font-size: 32px;
}

.feature img {
    box-shadow: 0px 4px 20px 0px black;
    width: 600px;
}

header {
    clear: both;
}

header h1 {
    color: #FB3640;
    font-family: 'Cinzel', serif;
    font-size: 48px;
    text-align: center;
}

.social {
    text-align: center;
}

.social ul {
    margin-left: -20px;
}

.social li {
    display: inline-block;
    font-size: 48px;
    list-style-type: none;
    padding-right: 10px;
}

main {
    border-radius: 20px;
    clear: both;
    float: left;
    width: 72%;
}

.listItemLeft {
    float: left;
    width: 50%;
}

.listItemRight {
    float: right;
    width: 50%;
}

.listItemLeft li, .listItemRight li {
    font-size: 24px;
    list-style-type: none;
    padding: 10px;
}

.listItemLeft span, .listItemRight span {
    font-size: 18px;
    font-style: italic;
}

aside {
    float: right;
    width: 25%;
}

aside iframe {
    width: 100%;
}

.comments input {
    width: 202px;
}

footer {
    clear: both;
}